.lead {
    margin: auto;
    padding-top: 56px;
    width: 984px;
    max-width: calc(100% - 296px);
}


@media screen and (max-width:1024px) {
    .lead {
        max-width: calc(100% - 48px);
        padding-top: 48px;
    }
}

@media screen and (max-width:768px) {
    .lead {
        max-width: 100%;
    }
}
