.footer {
    width: 1184px;
    max-width: calc(100% - 96px);
    padding-bottom: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


@media screen and (max-width:1024px) {
    .footer {
        max-width: calc(100% - 96px);
    }
}

@media screen and (max-width:768px) {
    .footer {
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width:680px) {
    .footer {
        max-width: calc(100% - 32px);
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

